<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcod.sms.mapper.ClassMapper" >
  <resultMap id="BaseResultMap" type="cn.itcod.sms.pojo.Class" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tagid" property="tagid" jdbcType="INTEGER" />
    <association property="tag" javaType="Tag">
      <id column="tid" property="tid"/>
      <result column="tname" property="tname"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, tagid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcod.sms.pojo.Class" >
    insert into t_class (name, tagid
      )
    values (#{name,jdbcType=VARCHAR}, #{tagid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.itcod.sms.pojo.Class" >
    insert into t_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tagid != null" >
        tagid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tagid != null" >
        #{tagid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcod.sms.pojo.Class" >
    update t_class
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tagid != null" >
        tagid = #{tagid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcod.sms.pojo.Class" >
    update t_class
    set name = #{name,jdbcType=VARCHAR},
      tagid = #{tagid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id = "findByAll" resultMap="BaseResultMap">
    select c.id,c.name,t.name tname
    from t_class as c
    left join t_tag as t on c.tagid = t.id;
  </select>
</mapper>